<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
               <a href="http://www.birthdayexpress.com"><img src="~/Images/bdxp.png"/></a>
            </p>
           
        </div>
    </div>
    <div>
        <div class="list-group col-md-3">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://images.birthdayexpress.com/mgen/jurassic-world-party-in-a-box-bx-100169a.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://images.birthdayexpress.com/mgen/dinosaur-train-party-in-a-box-bx-95283a.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://images.birthdayexpress.com/mgen/dinosaurs-party-in-a-box-bx-99168a.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://images.birthdayexpress.com/mgen/merchandiser/jurassic-world-square-dessert-plates-bx-99368.jpg?zm=172,172,1,0,0" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$2.99</h4>
                            <h4>
                                <a href="http://www.birthdayexpress.com/p/99368/jurassic-world-square-dessert-plates">Plates</a>
                            </h4>
                            <p>Jurassic World Plates</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://images.birthdayexpress.com/mgen/jurassic-world-kids-inflatable-t-rex-cosutme-bx-808129.jpg?zm=1600,1600,1,0,0" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$64.99</h4>
                            <h4>
                                <a href="http://www.birthdayexpress.com/p/808129/jurassic-world-kids-inflatable-t-rex-cosutme">Jurassic World Costumes</a>
                            </h4>
                            <p>A Best Seller!</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$74.99</h4>
                            <h4>
                                <a href="#">Third Product</a>
                            </h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

              

             

              
            </div>

        </div>

    </div>

</div>